*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
#authen{
    position: fixed;
    top: 0;
    right: 0;
}
#announcer{
    position: fixed;
    bottom: 0;
    width: 100%;
}