#iFrameVideo{
    border: 1px solid white;
    width: 550px;
    height: 300px;
    background: white;
    border-radius: 3px;
}
#iFrameVideo > iframe{
    width: 100%;
    height: 100%;
}
#content{
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}